@model ProjetoFinalMelina.Models.Colaborador

@{
    ViewData["Title"] = "Details";
}

<h1 class="pags">Detalhes do colaborador</h1>

<div>
    <hr/>
    <dl class="info">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColaboradorNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColaboradorNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColaboradorCpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColaboradorCpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColaboradorSexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColaboradorSexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColaboradorTelefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColaboradorTelefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade.CidadeNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoColaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoColaborador.TipoColaboradorNome)
        </dd>
    </dl>
</div>
<div class="info">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar para a lista de colaboradores</a>
</div>
