@model IEnumerable<ProjetoFinalMelina.Models.LocalRealizacao>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/hover.css" rel="stylesheet" />
<h1 class="titulo">Página de locais de realização de procedimento</h1>

<p>
    <a asp-action="Create" class="novo">Adicionar novo local</a>
</p>
<div class="search">
    @using (Html.BeginForm("Index", "LocalRealizacao", FormMethod.Get))
    {
                <p>
                    Procure pelo local aqui: @Html.TextBox("pesquisa")
                <input class="pesquisa" type="submit" value="Pesquisar">
                </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocalNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocalNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade.CidadeNome)
            </td>
            <td>
               <button class="hover"><a asp-action="Edit" asp-route-id="@item.Id">Editar</a></button>
               <button class="hover"><a asp-action="Details" asp-route-id="@item.Id">Detalhes</a></button>
               <button class="hover"><a asp-action="Delete" asp-route-id="@item.Id">Deletar</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
